@import url("/resources/css/component.css");

.profile{
	margin-bottom: 5px;
}

.div-mng .right{
    margin-bottom: 5px;
}

.div-mng a{
	margin-right: 10%;
}

.profile-img{
	width: 100px;
	height: 100px;
    display: inline-block;
	position: relative;
}

.profile img{
	width: 100px;
	height: 100px;
	border: 1px solid grey;
	border-radius: 100%;
	object-fit: cover;
}

.profile .btn{
    width: 21px;
    height: 15px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: url(/resources/images/photo.png) center no-repeat;
    background-size: 21px 18px;
    border: none;
}

.div-mng{
    width: 100%;
}

.div-mng .menu{
    width: 100%;   
	max-width: 1100px;
	margin: auto;	
    display: contents;	
}

.div-mng .menu input{
	font-size: 11px; 
	width: 40%;
	height: 25px;
	background: white;
	border: 1px solid grey;
}


.div-mng .table{
    width: 85%;
    margin: auto;
    margin-top: 5px;
}

.div-mng .table .right .btn{
    width: 87px;
    height: 23px;
    font-size: 11px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: grey;
    text-align: center;
    margin-right: 5px;
}

.div-mng table{
	text-align: center;
	width: 100%;
	border: 1px solid gray;	
	table-layout: fixed;		
}

.div-mng thead tr{
	height: 30px;
}

.div-mng thead td{
    font-size: 12px;
    border: 1px solid gray;
    font-weight: bold;
    line-height: 20px;	
}

.div-mng tbody tr{
	height: 22px;
}

.div-mng tbody td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.div-mng .paging{
	display: inline-flex;
	margin-top: 10px;
}
.div-mng .paging .btn{
	width: 16px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    border: none;
    background: none;
}

.div-mng .paging ul{
	display: inline-flex;
}

.div-mng .paging li{
	margin-left: 5px;
}

.now-page{
    text-decoration: underline;
    font-weight: bold;
}

.selected-tab{
	background: grey !important;
	color: white;
	font-weight: bold;
}

.etc{
	margin: 0px 10px;
	margin-top: 30px;
}

.etc hr{
	margin-top:10px;
}

.etc h1{
    margin: 10px 0px;
    font-size: 16px;
}
.div-msg, .div-pw, .div-email, .div-banner{
	text-align: left;
    padding: 0px 10px;	
}

.etc .right .btn{
    width: 87px;
    height: 23px;
    font-size: 11px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: grey;
    text-align: center;
    margin-right: 5px;
}

.div-msg textarea{
    border: none;
    resize: none;
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    background-image: -webkit-linear-gradient(left, white 0px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 19px, #000 19px, #000 20px, white 20px);
    background-size: 100% 100%, 100% 100%, 100% 20px;
}

.div-pw input{
	width: 100%;
	height: 12px;
	border: none;
	border-bottom: 1px solid black;
    margin-top: 7px;	
}

.div-email input{
	width: 100%;
	border: none;
	border-bottom: 1px solid black;
    margin-top: 7px;	
}

.ul-banner{
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.li-banner {
	width: 100%;
    margin-bottom: 5px;	
    display: flex;
    justify-content: space-between;    
}

.li-banner img{	
    width: 90%;
    height: 100%;
}

.li-banner .div-button{
	width:5%;
	position: relative;
}

.li-banner .div-button input{
	width: 20px;
	height: 20px;
	background: none;
	border: none;
	padding: 0px;
	font-size:15px;
}

.li-banner .div-button .up{
	position: absolute;
	top: 0px;
	margin-top: 10px;
}

.li-banner .div-button .del{
	background: url("/resources/images/trash.png") no-repeat center;
	background-size: 20px;
	position: absolute;
	top: 42%;
}

.li-banner .div-button .down{
	position: absolute;
	bottom: 0%;
	margin-bottom: 10px;
}

.add-li-banner .btn{
    background: url(/resources/images/addBanner.png) no-repeat center !important;
    background-size: 80px !important;
    border: 1px solid !important;
    box-sizing: border-box !important;
}

.div-banner{
	position: relative;
}
.div-banner .right{
	position: absolute;
    top: 0px;
    right: 6px;
    margin-right: 5px;
}

@media (min-width:721px){
	.div-mng {
		display: inline-block;
	}
	
	.div-mng .menu input{
		font-size: 14px; 
		height: 30px;
	    margin: 0px 5px;
	}
	
	.div-mng .table{
		width: 80%;
		margin-top: 10px;
	}
	
	.div-mng thead tr{
		height: 35px;
	}	

    .div-mng thead td{
    	font-size: 15px;
    }
    
   	.div-mng tbody	tr{
		height: 28px;
	}
	
    .div-mng tbody td{
    	font-size: 14px;
    }
    
    .div-mng .paging .btn{
	    width: 18px;
	    font-size: 14px;
	}
	
	.etc{
		margin: auto;
	    margin-top: 30px;
	    width: 700px;
	}

	.etc .right .btn{
	    width: 91px;
	    height: 28px;
	    font-size: 13px;
    }
    	   
	.div-msg textarea{
		height: 20px;
	}
	
	.div-pw input{
		height: 20px;
	}
	
	.email-auth .txt {
    	width: 82%;
	}
	
	.email-auth .btn {
    	width: 15%;
    }	
    
    .li-banner .div-button input{
		width: 30px;
		height: 30px;
		font-size:30px;
	}
	
	
	.li-banner .div-button .del{
		background-size: 30px;
	}
    
    .li-banner .div-button .up{
		margin-top: 20px;
	}
	
	
	.li-banner .div-button .down{
		margin-bottom: 20px;
	}
	
	.add-li-banner .btn{
    background-size: 160px !important;
}