<div>
		<nav>
			<div>
				<a href="main?crowd=${crowd.id}">정보</a>
			</div>
			<div>
				<a href="notice?t=0&crowd=${crowd.id}">공지사항</a>
			</div>
			<div>
				<a href="calendar?crowd=${crowd.id}">일정</a>
			</div>
			<div>
				<a href="board?t=1&crowd=${crowd.id}">게시판</a>
			</div>
			<div>
				<a href="album?t=2&crowd=${crowd.id}">사진첩</a>
			</div>
			<div>
				<a class="groupChat" href="groupchat?crowd=${crowd.id}">단체채팅</a>
			</div>
		</nav>
	</div>a#MOVE_BACK_BTN {
	position: fixed;
	background: rgb(255, 104, 104);
	bottom: 0px;
	margin: 0 !important;
	z-index: 100;
	width: 100%;
	height: 50px;
	text-align: center;
	justify-content: center;
	font-weight: 900;
	font-size: 20px;
	color: white;
	line-height: 50px;
}