main{
    text-align: center;
    min-height: 540px;
}

p{
    margin: 0px;
    padding: 0px;
}

::placeholder{
	color: grey;
}

.left{
    text-align: left !important;
}
.right{
    text-align: right !important;
}
.center{
    text-align: center !important;
}

.d-none{
	display: none !important;
}

.fs11{
    font-size: 11px !important;
}
.fs14{
    font-size: 14px !important;
}
.fs16{
    font-size: 16px !important;
}
.fs18{
    font-size: 18px !important;
}
.fs20{
    font-size: 20px !important;
}

.fwb{
    font-weight: bold !important;
}

.hr-normal{
    border: none;
    border-bottom: solid 1px grey;
}
.hr-bold{
    border: none;
    border-bottom: solid 2px grey;
}
.hr-dot{
    border: none;
    border-bottom: dotted 5px grey;
    margin: 10px;
}

.m-t-n{
    margin-top: 0;
}

.img-cut{
    object-fit : cover;
}

.ellipsis{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

/***************************/

.group-list-flex{
	box-sizing: content-box;
    display: unset;
    text-align: left;
    flex-flow: wrap;
}

.group-list-flex-li{
    box-sizing: content-box !important;
    display: inline-flex;
    padding: 5px 5px;
    width: 90%;
    margin: 0px 0px;
}

.group-list-flex-li img{
	display: block;
	
    box-sizing: border-box;
    height: 130px;
    width: 40% !important;
    border-radius: 5px;
 } 

.group-list-flex-content{
    position: relative;
    display: inline;
    margin-left: 5px;
}

.group-list-flex-content div:last-child{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/***************************/

.email-auth .txt{
	width: 70%;		
}

.email-auth .btn{
	width: 25%;
	height: 23px;
	
	margin-left: 2%;
	
	border: none;
	border-radius: 5px;
	background: grey;
	
	font-size:10px;
	color: white;
	font-weight: bold;
	text-align: center;
}

.email-auth .timer{
	border: 2px solid grey;
	background: white;
	color: grey;
	font-size:14px;	
}

@media (min-width:721px){
    main{
	    min-height: 600px;
	}
	
    .group-list-flex{
        display: inline-flex;
    }
    .group-list-flex-li{
        margin: 5px;
   		max-width: 47%;
    }
    
   	.email-auth .btn{
		font-size:12px;
	}
	
	.group-list-flex-li img{
	    width: 35% !important;
 	} 

}

