.search-box {
	position: relative;
}

.search {
	display: flex;
	position: absolute;
    height: 4%;
	right: 0px;
}

.search .field input {
	border: none;
	width: 100%;
	padding-left: 10px;
	position: absolute;
	text-transform: none;
	visibility: hidden;
	position: inherit;
	text-decoration: underline;
}
.icon{
	width: 30px;
}
.search .icon {
	cursor: pointer;
	transition: all .3s ease 6s;
}

.search .icon img {
	width: 80%;
}

.search .field {
	position: relative;
	width: 0;
	top: 0;
	transition: 500ms;
}

.search.open {
	border-radius: 8px;
}