.screen {
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999;
	transition: 500ms;
}

body {
	margin: 0;
	padding: 0;
	background: #f2f4f7;
}

#calendar {
    padding: 15px;
	margin: 0 auto;
}

.calendar-box{
	background: white;
    border: 1px solid #dee3eb;
}

.event-info {
    width: 93%;
    margin: auto;
    margin-top: 10px;
    font-size: 17px;
}

.eh {
    display: flex;
    justify-content: space-between;
}
.r-0{
	right: 0
}
.r-35{
	right: 35px;
}
.delete-btn, .edit-btn {
    border: none;
    background: #494949;
    color: white;
    text-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    width: 40px;
    font-size: 13px;
    padding: 4px 6px 4px 6px;
    margin-left: 10px;
}
.fc-content{
	cursor: pointer;
}

.koHolidays {
	background: #ff9090;
	border: none;
	text-align: center !important;
	font-weight: bold;
	padding: 3px;
}

.fc-day-header {
	background: gray;
	height: 30px;
	line-height: 30px;
}

.fc-next-button, .fc-prev-button {
	border: none;
	background: #494949;
	color: white;
}

.fc-sat .fc-day-number {
	color: #0000ff !important;
}

.fc-sun .fc-day-number {
	color: #ff0000 !important;
}

.fc-scroller {
	height: 100% !important;
}

.fc-addEventButton-button {
	border: none;
	background: #494949;
	color: white;
	text-shadow: none;
	box-shadow: none;
}

.d-none {
	display: none;
}

a {
	text-decoration: none;
	color: black;
}

p {
	margin: 0;
}

.main-head {
	margin: 0 !important;
	grid-area: header;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px 0px 10px;
	border-top: 1px solid #e0dfdf;
	border-bottom: 1px solid #d1d8e4;
	background: white;
}

.main-head div {
	max-width: 1200px;
	margin: auto;
}

.main-head nav {
	display: flex;
	justify-content: space-between;
}

.content {
	max-width: 1200px; 
	grid-area: content;
	font-size: 13px;
    margin: auto;
}

.days-info {
    max-width: 1200px;
    grid-area: info;
    height: 150px;
    background: white;
    border: 1px solid #dee3eb;
    margin: auto;
    width: -webkit-fill-available;
}

.wrapper {
	width: 100%;
	display: grid;
	grid-gap: 10px;
	grid-template-areas: "header" "content" "info";
	margin: auto;
}
/* И№До ------------------------------- */
.modal-backdrop.in {
	filter: alpha(opacity = 50);
	opacity: .5;
}

.send-modal {
	left: 15%;
}

.day-modal {
	position: fixed;
	top: -100%;
	width: 70%;
	z-index: 99999;
	transition: 500ms;
}

.day-modal.hide {
	top: 0px;
}

.day-modal.show {
	display: block;
	top: 15%;
}

.modal-content {
	position: relative;
	background-color: white;
	background-clip: padding-box;
	border: 1px solid gray;
	border-radius: 6px;
	outline: 0;
}

.modal-header {
	min-height: 16.43px;
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
	margin-top: -2px;
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}

.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: rgb(93, 93, 93);
}

.modal-body {
	position: relative;
	padding: 15px;
}

form {
	display: block;
	margin-top: 0em;
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

.form-control {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 34px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}

.modal-footer .btn+.btn {
	margin-bottom: 0;
	margin-left: 5px;
}

.add-btn, .edi-btn {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	touch-action: manipulation;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.mb-10 {
	margin-bottom: 10px;
}
@media ( min-width : 400px) {
	
}

@media ( min-width : 700px) {
	
	.main-head {
		height: 40px;
		line-height: 40px;
	}
	.main-head a {
		font-size: 20px;
		font-weight: bold;
	}
	.event-info {
    width: 97%
    };