@import url("/resources/css/component.css");

body {
	margin: 0;
	padding: 0;
	background: #f2f4f7;
}

main{
    margin: 0px 10px;	
}

.grid {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "area-banner"
        "area-name"
        "area-content"
        "area-etc";
    margin: auto;
    font-size: 11px;
    
}

.area-banner{
	text-align: center;	
}

.area-banner img{
    width: 100%;
    margin-top: 10px;   
    max-height: 500px;     
}

.area-name {
	position: relative;
	text-align: left;
	border: 1px solid #dee3eb;
	height: 40px;
	line-height: 40px;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	background: white;
	font-size: 15px;
	
}

.area-name .group-logo {
	margin-left: 10px;
	width: 18px;
	height: 18px;
	border-radius: 100%;    
	vertical-align: sub;
	line-height: 40px;
}

.area-name a{
	position: absolute;
	right: 10px;
	top: 0px;
}

.area-content {
	text-align: left;
	font-size: 13px;
}
.join-condition{
    margin-top: 5px;
}

.area-content textarea{
    width: calc(100% - 20px);
   	padding: 10px;
    
    resize: none;
    border: none;
    border: 1px solid #dee3eb;	
	background: white; 
}

.area-etc{
    border: 1px solid #dee3eb;	
	background: white; 
    padding: 15px 0px;
}
.div-area-etc {
	width: 90%;
    margin: auto;	
}

.div-area-etc .menu input{
	width: 24%;
	height: 25px;
	background: white;
	border: 1px solid grey;
	font-size: 11px
}

.selected-tab{
	background: grey !important;
	color: white;
	font-weight: bold;
}

.board{
}

.board table{
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.board td{
	border-bottom: 2px solid grey;	
}

.board tr:first-child td{
	border-top: 2px solid grey;	
}

.board td:first-child{
	text-align: left;
	text-indent: 10px;
}


.board div {
    width: 100%;
    height: 25px;
	border-radius: 5px;
	background: grey;
	margin: auto;
}
.board .btn img{
	width: 12px;
	height: 12px;
    vertical-align: text-bottom;	
}
.board .btn span{
    line-height: 25px;	
}

.temp-input{
	border: none;
	width: 100%;
}
.temp-input::placeholder{
	color: grey;	
}

.member{
	
}

.right .btn{
    width: 65px;
    height: 23px;
    font-size: 11px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: grey;
    text-align: center;
    margin: 5px 0px;
}

table{
	text-align: center;
	width: 100%;
	border: 1px solid gray;	
	table-layout: fixed;		
}

thead tr{
	height: 30px;
}

thead td{
    font-size: 12px;
    border: 1px solid gray;
    font-weight: bold;
    line-height: 20px;	
}

tbody tr{
	height: 22px;
}

tbody td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tbody td select{
	font-size: 11px;
    border: none;	
    width: 100%;
}


.paging{
	display: inline-flex;
	margin-top: 10px;
}

.paging .btn{
	width: 16px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    border: none;
    background: none;
}

.paging ul{
	display: inline-flex;
}

.paging li{
	margin-left: 5px;
}

.now-page{
    text-decoration: underline;
    font-weight: bold;
}


.stat-grid {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "area-filter"
        "area-chart"
        "area-table";
    margin: auto;
    margin-top: 10px;    
    font-size: 11px;  
}

.stat-grid input{
    font-size: 11px;    
}

.area-filter input[type="date"]{
    width: 85px;
}


.area-filter{
    height: 20px;
    line-height: 20px;
	display: flex;
}

.area-filter .empty{
	width: 10px;	
}

.area-filter input[type="date"]::-webkit-inner-spin-button {
	display: none; 
    appearance: none;
}
 
@media (min-width:721px){
	.grid{
	    font-size: 14px;
	}
	.div-area-etc .menu input{
	    font-size: 14px;
	}
	
	.board .btn img{
		width: 16px;
		height: 16px;
	}
	tbody td select{
	    font-size: 14px;
   		border: none;	
	}
	.stat-grid input{
	    font-size: 14px;
	}
	.stat-grid td{
	    font-size: 14px;
	}
	
	.area-filter input[type="date"]{
	    width: 105px;
	}

}
