body {
	margin: 0;
	padding: 0;
	background: #f2f4f7;
}

.d-none {
	display: none;
}

a {
	text-decoration: none;
	color: black;
}

.main-head {
	margin: 0 !important;
	grid-area: header;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px 0px 10px;
	border-top: 1px solid #e0dfdf;
	border-bottom: 1px solid #d1d8e4;
	background: white;
}

.main-head div {
    max-width: 1200px;
    margin: auto;
}

.main-head nav {
	display: flex;
	justify-content: space-between;
}

.sub-head {
	grid-area: subheader;
	font-size: 13px;
	justify-content: center;
	text-align: center;

}

.sub-head-box {
	position: relative;
	max-width: 1200px;
	margin: auto;
	height: 30px;
	line-height: 30px;
	background: white;
    border: 1px solid #dee3eb;
}

.content-box {
	height: 150px;
	display: flex;
	text-align: center;
}

.img-of {
	height: 75%;
}

.content {
	display: flex;
	flex-flow: wrap;
	grid-area: content;
	flex-direction: row;
	justify-content: center;
	margin: auto;
	background: white;
	border: 1px solid #dee3eb;
    max-width: 1200px;
    padding-top: 22px;
}

.content img {
	width: 90%;
	height: 70%;
}

.content-box-div {
	padding-left: 10px;
	text-align: left;
	height: 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content-bodx-div div {
	margin-bottom: 2px;
}

.album-title {
	font-size: 15px;
}

.wrapper {
	width: 100%;
	display: grid;
	grid-gap: 10px;
	grid-template-areas: "header" "subheader" "content";
	margin: auto;
	display: grid;
}

.search {
	top: 3px !important;
}

.search-box {
	height: 30px;
}

.search .field {
	top: -3px !important;
}

@media ( min-width : 400px) {
	.wrapper {
		/* grid-template-columns: 3fr 1fr; */
		grid-template-areas: "header" "subheader" "content";
	}
	nav ul {
		display: flex;
		justify-content: space-between;
	}
}

@media ( min-width : 700px) {
	.wrapper {
		grid-template-areas: "header" "subheader" "content";
	}
	.content-box-div {
		padding-left: 25px;
		text-align: left;
		height: 20%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: initial;
	}
	.content img {
		width: 90%;
		height: 100%;
	}
	.content-box {
		height: 400px;
		display: flex;
		text-align: center;
	}
	.content-bodx-div div {
		margin-bottom: 10px;
	}
	.album-title {
		font-size: 25px;
		font-weight: bold;
		/* margin-bottom: 10px; */
		vertical-align: sub;
		vertical-align: sub;
	}
	.img-of {
		height: 70%;
	}
	.wr {
		font-size: 15px
	}
	.main-head {
		height: 40px;
		line-height: 40px;
	}
	.main-head a {
		font-size: 20px;
		font-weight: bold;
	}
	.sub-head-box {
		height: 40px;
		line-height: 40px;
	}
	.search {
		top: 9px !important;
	}
	.search .field {
		top: -8px !important;
	}
	.content-box {

    margin: 30px;
}
}