@charset "utf-8";

body {
	margin: 0;
	padding: 0;
}

.m-0 {
	margin: 0;
}

header {
	border-bottom: 1px solid gray;
}

main {
	margin: 0px 10px;
}

.d-none {
	display: none !important;
}

.sirenedit img {
	border: 1px solid gray;
	width: 15px;
	height: 15px;
	padding: 5px;
	border-radius: 5px;
}

.sirenedit {
	line-height: 3.1;
}

a {
	text-decoration: none;
	color: black;
}

.main-head {
	margin: 0 !important;
	grid-area: header;
	font-size: 13px;
	line-height: 30px;
	border-bottom: 5px solid gray;
}

.main-head nav:nth-child(1) {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid gray;
}

.main-head input {
	border: none;
}

select {
	width: 100%;
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	background: url("../../../resources/images/caret-down.png") no-repeat 98%;
	background-size: 15px;
	height: inherit;
}

.select-box {
	text-align: center;
}

.board-list {
	border-bottom: 1px solid gray;
}

.board-list select {
	border: none;
}

.board-list select option {
	width: 100%;
}

.content {
	grid-area: content;

}
.itemBoxHighlight {
    width:400px;
    height:50px;
    padding:10px;
    margin-bottom:10px;
    background-color: pink;
}
.deleteBox {
	float: right;
    display:none;
    cursor:pointer;
    color: white;
    border-radius: 5px;
    border: none;
    padding:0;
    width: 30px;
    text-align: right;
}

.deleteBox img{
	width: 50%;
}


.content .image1 {
	width: 50%;
	text-align: left;
}
.post-content{
	padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    background: white;
    align-items: center;
}
.post-img{
	width: 100px;
}

textarea{
	border: none;
	resize: none;
}
.text-input{
	width: 80%;
	height: 80%;
}
.text-content div div{
	width: 100%;
	height: 150px;
	background:white;
	color: gray;
}
.reg-btn{
	display: flex;
	flex-direction: column;
    align-items: center;
}
.reg-btn img{
	width: 13%;
}

.reg-btn button{
	border: none;
	border-radius: 5px;
	background: #494949;
	color: white;
	font-size: 15px;
	font-weight: bold;
	width: 80%;
	height: 40px;
	
}

/* .post-content:first-child:before {
	content: "대표";
	font-size: 10px;
	color: #fff;
	background: #002060;
	padding: 2px 5px;
	padding-left: 2px;
	position: absolute;
} */




.post-content img:nth-child(2) {
  	 height: 25px;
    width: 35px;
}


.post p {
	margin: 0;
}

.wrapper {
	max-width: 1200px;
	display: grid;
	grid-gap: 10px;
	grid-template-areas: "header" "content";
	margin: auto;
}

@media ( min-width : 400px) {
	.wrapper {
		/* grid-template-columns: 3fr 1fr; */
		grid-template-areas: "header" "content";
	}
	nav ul {
		display: flex;
		justify-content: space-between;
	}
	.post-content{
	display: flex;
	justify-content: space-between;
	height: 110px;
	
}
}

@media ( min-width : 700px) {
	.wrapper {
		grid-template-areas: "header" "content"
	}
	.preview {
		max-width: 500px;
	}
	.post-content{
	display: flex;
	justify-content: space-between;
	height: 190px;
	
}
}

/* 뒤로가기 --------------------------------------------- */
a#MOVE_BACK_BTN {
	position: fixed;
	background: rgb(255, 104, 104);
	bottom: 0px;
	margin: 0 !important;
	z-index: 999;
	width: 100%;
	height: 50px;
	text-align: center;
	justify-content: center;
	font-weight: 900;
	font-size: 20px;
	color: white;
	line-height: 50px;
}

.itemBox {
    border:solid 1px black;
    width:400px;
    height:50px;
    padding:10px;
    margin-bottom:10px;
}
.itemBoxHighlight {
    border:solid 1px black;
    width:100%;
    height: 50px;
    padding:10px;
    margin-bottom:10px;
    background-color: #494949;
}
.img-box{
	width:80%;
	height: 80%;
}
.deleteBox {
    float:right;
    display:none;
    cursor:pointer;
}

.post-content span { position: absolute; margin-left: -1.3em; }