@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	background: #f2f4f7;
}


.d-none {
	display: none !important;
}

a {
	text-decoration: none;
	color: black;
}

.wrapper {
	width: 100%;
	display: grid;
	grid-gap: 10px;
	grid-template-areas: "header" "img" "groupinfo" "content" "comment";
	margin: auto;
}
.main-head {
	margin: 0 !important;
	grid-area: header;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px 0px 10px;
	border-top: 1px solid #e0dfdf;
	border-bottom: 1px solid #d1d8e4;
	background: white;
}

.main-head div {
	max-width: 1200px;
	margin: auto;
}


.reg-head{
	background: white;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	font-size: 13px;
	line-height: 30px;
	border: 1px solid #dee3eb;
}
.text-content{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	border: 1px solid #dee3eb;
	
}

.main-head nav:nth-child(1) {
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* border-bottom: 1px solid gray; */
}

.main-head input {
	border: none;
}



.reg-head input {
	border: none;
}

.reg-head #title{
    width: 100%;
    text-indent: 10px;	
    
}

 select {
	width: 100%;
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
	background: url("../../../resources/images/caret-down.png") no-repeat 98%;
	background-size: 15px;
	height: inherit;
	text-indent: 10px;	
} 

option{
	border: 1px solid #f2f4f7;
	background: #f2f4f7;
}
hr{
    border: none;
    border-bottom: 1px solid gray;
}

.select-box {
	text-align: center;
}

.board-list {
	border-bottom: 1px solid gray;
}

.board-list select {
	border: none;
}

.board-list select option {
	width: 100%;
}

.content {
	grid-area: content;
}

.reg-btn{
	display: flex;
	flex-direction: column;
    align-items: center;
}

.reg-btn img{
	width: 5%;
	min-width: 65px;
}

.reg-btn .btn-submit{
	border: none;
	border-radius: 5px;
	background: #494949;
	color: white;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
	height: 40px;
    text-align: center;
}

.main-img:before {
    content: "대표";
    font-size: 13px;
    color: #fff;
    background: #494949;
    padding: 2px 5px;
    padding-left: 6px;
    position: absolute;
}


.tpl-div{
	display: flex;
    box-sizing: content-box;
    position: relative;
    background: white;
    margin: 3px;
    padding: 3px;
}

.tpl-div textarea{
    margin-right: 15px;
	width: -webkit-fill-available;
	border: none;
	resize: none;
}

.tpl-div .img-div{
    margin-right: 15px;
	width: -webkit-fill-available;
}

.tpl-div .img-div img{
    margin-right: 15px;
	max-width: 100%;
	
}

.tpl-div .hamburger-div{
    width: 30px;
    display: flex;
    align-items: center;
}

.tpl-div .hamburger-div img{	
    width: 30px;
    height: 30px;
}

.alert-hidden-back{
    z-index: 9;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.content-alert{
	
    border: 1px gray solid;
    padding: 10px;
    padding-top: 0px;
    text-align: center;
    background: white;
    position: fixed;
    width: 300px;
    top: 30%;
    z-index: 10;

}

.content-alert input{
    border: none;
    border-radius: 5px;
    background : #494949;
    color: white;
	font-weight: bold;
	
}

@media ( min-width : 400px) {
	.wrapper {
		/* grid-template-columns: 3fr 1fr; */
		grid-template-areas: "header" "content";
	}
	nav ul {
		display: flex;
		justify-content: space-between;
	}
	.post-content{
	display: flex;
	justify-content: space-between;
	height: 110px;
	
}
}

@media ( min-width : 700px) {
	.wrapper {
		grid-template-areas: "header" "content"
	}
	
	.preview {
		max-width: 500px;
	}
	
	.post-content{
	display: flex;
	justify-content: space-between;
	height: 190px;
	}
	
	.main-head {
		height: 40px;
		line-height: 40px;
	}
	.main-head a {
		font-size: 20px;
		font-weight: bold;
	}
}

.itemBox {
    border:solid 1px black;
    width:400px;
    height:50px;
    padding:10px;
    margin-bottom:10px;
}
.itemBoxHighlight {
    border:solid 1px black;
    width:100%;
    height: 50px;
    padding:10px;
    margin-bottom:10px;
    background-color: #494949;
}
.img-box{
	width:80%;
	height: 80%;
}
.deleteBox {
    float:right;
    display:none;
    cursor:pointer;
}

.post-content span { position: absolute; margin-left: -1.3em; }


  