@import url("/resources/css/component.css");

.grid{
	width: 100%;
	max-width: 900px;
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
	    "area-banner"
	    "area-category"
	    "area-group";
	margin: auto;
}

.area-banner{
	width: 100%;
	max-width: 900px;
}

.area-banner img{
	width: 95%;
	margin: 15px 0px;
}

.area-category{
	width: 100%;
	max-width: 900px;
}

.btn-more {
	margin-right: 10px;
	border: none;
	background: none;
}

.main-icon-list{
    display: inline-flex;
    height: 80px;
    flex-flow: wrap;
    padding: 0px 10px;
    overflow: hidden;
}

.main-icon-list li{
    display: inline;
    width: 70px;
    height: 80px;
    margin: 0px 5px;
    font-size: 10px;
    cursor: pointer !important;
}

.main-icon-list img{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}

.area-group{
	width: 100%;
	max-width: 900px;
}
