@import url("/resources/css/component.css");

#headerSearch {
	width: 60%;
	line-height: 42px;
}

#headerSearch input {
    width: 100%;
    height: 25px;
    margin-top: 5px;
    
    background: url(/resources/images/searchIcon.png) no-repeat 6px 6px white;
    background-size: 16px 16px;
    border: none;
    border-bottom: 1px solid;
    text-indent: 30px;
}

#headerSearch input::placeholder {
    text-indent: 30px;
}

#headerMenu {
	line-height: 60px;
}

#headerMenu input {
	width: 25px;
	height: 25px;
	margin-left: 10px;
	margin-top: 12px;
	background: none;
	border: none;
	background-size: 25px;
	background-image: url("/resources/images/btnMenu.png");
	background-repeat: no-repeat;
}

#headerMenus {
	width: max-content;
	min-width: 152px;
	text-align: right;
	line-height: 70px;
}

#headerMenus input {
	font-size: 11px;
	border: 1px solid gray;
	background: white;
	border-radius: 5px;
	height: 30px;
}

::placeholder {
	text-indent: 5px;
	font-size: 12px;
	color: black;
}


.back{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top:0%;
    opacity: 0.0;
    background: black;
    transition: 250ms;
    display: none;
    z-index:10;
}

.modal{
    width: 50%;
    height: 100%;
    position: fixed;
    background: gainsboro;
    top:0%;
    text-align: left;
    left:100%;
    transition: 250ms;
    
    z-index:11;
}

.modal input{
    width : 90%;
    height: 40px;
    line-height: 20px;
    margin: 5px 10px;
    background: url("../../../resources/images/hamburgerBtns.png") no-repeat center;
    background-size: 100% 40px;
    border: none;

}

.modal input:first-child{
    margin-top: 20px;
}

.modal.show{
    left: 50%;
}

.back.show{
    
    display: block;
    /* opacity: 0.7; */
}

.modal.hide{
    left: 100%;
}

.back.hide{
    opacity: 0.0;
}

@media ( max-width :720px) {
	#headerMenus {
		display: none;
	}
}

@media ( min-width :721px) {
	.logo {
		width: 145px;
	}
	
	#headerSearch input {
		margin-top: 18px;
		height: 40px;
		background: url(/resources/images/searchIcon.png) no-repeat 9px 9px white;
		background-size: 25px 25px;
		text-indent: 40px;
	    font-size: 20px;	
	}

	#headerSearch input::placeholder {
		text-indent: 40px;
	    font-size: 20px;	
	}

	#headerMenu {
		display: none;
	}
	
   .back{
       display: none !important; 
   }

   .modal{
       display: none !important; 
   }
}
