@charset "UTF-8";

/* 자주 묻는 질문  css 시작*/
/*핸드폰 화면에서의 자주 묻는 질문 css*/

.sm-qnaButton
	{
		display:none;
		position: relative;
	    right: -6px;
		top: 11px;
		width:24px;
		height:24px;
		background: url("/resources/images/question-circle.png") no-repeat center center;
	    background-size: cover;
	}
/**/

.jaju-q-title-a
{
	font-size: 12px;
    font-weight: bold;
}

.jaju-side-slider 
{
    position: fixed;
    top:200px;
    right: -500px;
    width: 360px;
    height: 640px;
    background: #ffffff;
    border-top: 1px solid #333131;
    border-bottom: 1px solid #333131;
    border-left: 1px solid #333131;
    border-right: 1px solid #333131;
    z-index:50;

}
.jaju-manu-list-div 
{
    display: grid;
    position: absolute;

    flex-direction: column;
    grid-template-rows: 10% 20% 70%;
    width: 100%;
    height: 100%;
}
.jaju-big-category
{
    
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.jaju-big-category li
{
    position: relative;
    
}
.jaju-slider-div>ul
{
	width:100%;
	height:100%;
	border-top:1px solid black;
}
.jaju-slider-div>ul>li
{
    box-sizing: border-box;
    background: #ffffff;
    border-bottom: 1px solid #333131;

    list-style-type: none;
    width: 100%;
    height:50px;
    line-height: 60px;
}

.jaju-q-content
{
	padding-top:5px;
	word-break:break-all;
	height:100% !important;
	margin-top:2px;
	margin-left:7px;
	border:none;
	resize:none;
	overflow:hidden;
}
.jaju-slider-div a,
.jaju-slider-div p
{
    color: #000000;
}

/* .login
{
    position: relative;
    box-sizing: border-box;
    background: #ffffff;
    color: #000000;
    width: 100%;
    height: 100%;
} */

.jaju-LJbox
{
    
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    border-bottom: 1px solid #afaaaa;
    
    
}
.jaju-sub-menu
{
    
    box-sizing: border-box;
    border-bottom: 1px solid #333131;
    background: #ffffff;
    width: 100%;
    
}

.jaju-sub-menu li
{
    display: grid;
    grid-template-columns: 10% 90%;
    list-style: none;
    height: 100%;
    line-height: 100%;
    text-align: left;
    
}
.jaju-sub-menu li img
{
    width:30px;
    height:30px;
    margin-top:5px;
   /*  padding-left: 10px; */
}
.jaju-big-category>li>a
{
    padding-left: 10px;
}
.jaju-sub-menu li p
{
    padding-left: 15px;
    height: 50px;
    line-height: 50px;
    
}

.jaju-cat-menu
{
    height:0px;
    display: none;
}
.jaju-big-category>li>a
{
    padding-left: 10px;
}
.jaju-icon
{
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}
.jaju-search-div
{
    
    display: grid;
    grid-template-rows: 70% 30%;
}
.jaju-arrow
{
    position: absolute;
    top: 0px;
    right: 0px;
    transition: all ease 1s;

    width: 20px;
     height: 14px;
}
.jaju-exit p
{
    padding-left: 40px;
    height: 100%;
    line-height: 63px;
}
.jaju-exit span
{
    
    height: 30px;
    width: 30px;
    
}
.jaju-exit span::before
{
    content: "";
    position: absolute;
    border-top: 2px solid black;
    left: 16px;
    height: 10px;
    width: 11px;
    border-left: 2px solid black;
    height: 11px;
    transform: rotate(-45deg);
    top: 26px;
}
.jaju-search-text
{
    height: 92%;
    width: 92%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    background: #dbd9d9;
   
}
.jaju-search-text div
{
    position: absolute;
    bottom: 10px;
}
.jaju-search-text h3,
.jaju-search-text p
{
    
    margin-top: 3px;
    padding-left: 30px;
    
    
}
.jaju-search-text p
{
    
    font-size: 10px;
}
.jaju-search-bar
{
    
    margin-right: auto;
    margin-left: auto;
    
    width: 92%;
    height: 92%;
    background: #dbd9d9;
    text-align: center;
}
.jaju-search-bar div
{
    margin-top: 5px;
    height: 70%;
    display: flex;
    justify-content: left;
    margin-left: 27px;
}
.jaju-search-bar img
{
    width: 32px;
    margin-right: 5px;
}
.jaju-search-bar input
{
    border: none;
    background: #dbd9d9;
    border-bottom: gray 1px solid;
    width: 230px;
}
.jaju-sub-line
{
    width: 24px;
    height: 23px;
}
.jaju-create-list
{
	display:none;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 90px;
    height: 50px;
    background: white;
    border: 1px black solid;
}
.jaju-create-list:hover
{
	background: #1c5b39 !important;
	    color: white !important;
}
.jaju-option-list
{
	display:none;
    position: absolute;
    top: 5px;
    right: 100px;
    width: 120px;
    height: 50px;
    background: white;
    border: 1px black solid;
    
}
.jaju-option-list:hover
{
	background: #1c5b39 !important;
	    color: white !important;
}
.jaju-line-setting
{
    display: none;
    width:20px;
    height: 20px;
    position: absolute;
    right: 64px;
    top: 5px;
}
.jaju-line-delete
{
    display: none;
    width:20px;
    height: 20px;
    position: absolute;
    right: 64px;
    top: 30px;
}
.jaju-big-category>li:nth-child(1)
{
    border-top: 1px black solid;
}
.jaju-title-down
{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 30px;
    top: 20px;
}
.jaju-q-title
{
    position: relative;
}
.jaju-create-list-container
{
    display: none;
    flex-direction: column;
    position: absolute;
    padding-top: 10px;
    bottom: -100%;
    left: 30px;
    background: white;
    width: 300px;
    height: 205px;
    border: #000000 1px solid;
}
.jaju-create-list-container label
{
    margin-left: 20px;
    font-size: 15px;
    
}
.jaju-create-list-title
{
    border: #cfcfcf 2px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:20px;
    margin-right:20px;
    height: 30px;
}
.jaju-create-list-content
{
    border: #cfcfcf 2px solid;
    word-break: break-all;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:20px;
    margin-right:20px;
    height:150px;
}
.jaju-create-list-btns
{
    margin: auto;
    margin-bottom:5px;
}
.jaju-create-list-add
{
    width: 80px;
    height: 45px;
    border-radius: 20px 20px 20px 20px;
}
.jaju-create-list-cancel
{
    width: 80px;
    height: 45px;
    border-radius: 20px 20px 20px 20px;
}
@media (max-width: 720px) 
{
	.jaju-side-slider 
	{
    position: fixed;
    top:0px !important;
    right: -500px;
    width: 360px;
    height: 640px;
    background: #ffffff;
    border-top: 1px solid #333131;
    border-bottom: 1px solid #333131;
    border-left: 1px solid #333131;
    border-right: 1px solid #333131;
    z-index:50;

	}
	.sm-qnaButton
	{
		display:block !important;
		position: relative;
	    right: -6px;
		top: 11px;
		width:24px;
		height:24px;
		background: url("/resources/images/question-circle.png") no-repeat center center;
	    background-size: cover;
	}
}