.rprt-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.rprt {
    width: 70%;
    max-width: 500px;
    height: 400px;
    max-height: 600px;
    background: white;
    border: 1px solid gray;
    margin: auto;
    position: fixed;
    top: 20%;
    z-index: 10000;
    transition: 500ms;

    text-align: center;
}

.rprt h1 {
    margin-top: 15px;
    font-size: 20px;
}

.rprt-title {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 5px;
}

.rprt select {
    width: 80%;
    height: 30px;
    line-height: 7%;
}

.rprt textarea {
    width: 80%;
    height: 180px;
    resize: none;
    box-sizing: border-box;   
}

.rprt-btn {
    margin-top: 10px;
}

.rprt input {
    width: 45%;
    background: #494949;
    color: white;
    height: 35px;
    border-radius: 8px;
    border: none;
}

.clear {
    position: absolute;
    right: 3%;
    top: 3%;
}

.clear-btn {
    width: 90%;
}