.bg-img{
    background: url("/resources/images/sakura.png") no-repeat contain;
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 0.7;
    filter: blur(3px);
    overflow: hidden;
}
.pointer{
    visibility: hidden;
	text-align: center;
	z-index: 10000;
    position: absolute;
    width: 80px;
    height: 30px;
    border-radius: 200px 200px 0px 200px;
    pointer-events: none;
    box-sizing: border-box;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) .1s;
	transform: translate(-325%,-250%);
}
.pointer label {
	font-size: 18px;
	font-style: oblique;
	letter-spacing: 2px;
	font-weight: 900;
}
#particles-js{
    width: 100%;
}
canvas{
    background : linear-gradient(to bottom, rgba(135,174,250,1) 0%, rgb(140, 140, 140) 6%, rgb(132, 132, 132) 76%, rgb(199, 199, 199) 96%, rgb(253, 253, 253) 98%);
	z-index : -999999999;
	position : absolute;
	top : -81px;
	max-height : 1000px !important;
}
.sakura1{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/resources/images/sakuras.png") no-repeat center;
    animation: moving 100s cubic-bezier(.34,.52,.65,.49) infinite reverse; 
    background-size: 300px;
}
.sakura2{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/resources/images/sakuras.png") center;
    background-size: 400px;
    animation: moving1 60s cubic-bezier(.34,.52,.65,.49) infinite; 
}
.sakura3{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/resources/images/sakuras.png") center;
    background-size: 500px;
    animation: moving1 40s cubic-bezier(.34,.52,.65,.49) infinite reverse; 
}
@keyframes moving {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 40% -100%;
    }
}
@keyframes moving1 {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -50% -150%;
    }
}
@keyframes moving1 {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 100% -260%;
    }
}
main{
    position: relative;
}
main section:nth-child(1){
    overflow: hidden;
}
.d-none{
	display : none;
}
.category-list-container{
    height: 30px;
    margin-bottom: 10px;
    transition: .5s linear;
    box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.75)
}
.category-list{
    position: relative;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
}
.height{
    transition: .3s linear;
    height: 150px;
}
.selectca{
    display: block;
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    border: 1px solid;
    transition : .1s;
    box-sizing : border-box;
}
.category-list > ul{
    width: 100%;
    margin: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
/*     box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.75); */
}
.category-list ul li{
    margin-left: 10px;
    list-style: none;
}
.category-list ul li,
.category-list ul li a{
    line-height: 30px;
    text-decoration: none;
    color: black;
}
.category-list ul li a.calist{
    transform: scale(1);
    transition: .3s;
    display: block;
    overflow: hidden;
}
.category-list ul li a.calist.hide-calist{
    transform: scale(0);
}
/* .category-list ul li:nth-child(1) a.calist.hide-calist{
    transition-delay: .1s;
}
.category-list ul li:nth-child(2) a.calist.hide-calist{
    transition-delay: .2s;
}
.category-list ul li:nth-child(3) a.calist.hide-calist{
    transition-delay: .3s;
}
.category-list ul li:nth-child(4) a.calist.hide-calist{
    transition-delay: .4s;
}
.category-list ul li:nth-child(5) a.calist.hide-calist{
    transition-delay: .5s;
}
.category-list ul li:nth-child(6) a.calist.hide-calist{
    transition-delay: .6s;
}
.category-list ul li:nth-child(7) a.calist.hide-calist{
    transition-delay: .7s;
}
.category-list ul li:nth-child(8) a.calist.hide-calist{
    transition-delay: .8s;
}
.category-list ul li:nth-child(9) a.calist.hide-calist{
    transition-delay: .9s;
}
.category-list ul li:nth-child(10) a.calist.hide-calist{
    transition-delay: 1s;
}
.category-list ul li:nth-child(1) a.calist{
    transition-delay: .1s;
}
.category-list ul li:nth-child(2) a.calist{
    transition-delay: .2s;
}
.category-list ul li:nth-child(3) a.calist{
    transition-delay: .3s;
}
.category-list ul li:nth-child(4) a.calist{
    transition-delay: .4s;
}
.category-list ul li:nth-child(5) a.calist{
    transition-delay: .5s;
}
.category-list ul li:nth-child(6) a.calist{
    transition-delay: .6s;
}
.category-list ul li:nth-child(7) a.calist{
    transition-delay: .7s;
}
.category-list ul li:nth-child(8) a.calist{
    transition-delay: .8s;
}
.category-list ul li:nth-child(9) a.calist{
    transition-delay: .9s;
}
.category-list ul li:nth-child(10) a.calist{
    transition-delay: .1s;
}
.category-list ul li:nth-child(11) a.calist{
    transition-delay: .2s;
}
.category-list ul li:nth-child(12) a.calist{
    transition-delay: .3s;
}
.category-list ul li:nth-child(13) a.calist{
    transition-delay: .4s;
}
.category-list ul li:nth-child(14) a.calist{
    transition-delay: .5s;
}
.category-list ul li:nth-child(15) a.calist{
    transition-delay: .6s;
}
.category-list ul li:nth-child(16) a.calist{
    transition-delay: .7s;
}
.category-list ul li:nth-child(17) a.calist{
    transition-delay: .8s;
}
.category-list ul li:nth-child(18) a.calist{
    transition-delay: .9s;
} */
.category-list ul li{
    display: flex;
    flex-direction: column;
}
.calist::before{
    content: "";
    position: absolute;
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    transform: rotateX(180deg);
    transform-origin: top;
    box-sizing: border-box;
}

.calist:hover::before{
    transition: .3s linear;
    transform: rotateX(0);
}
.category-main-ul{
	overflow : -webkit-paged-y;
}
.category-main-ul li ul{
    visibility: hidden;
}
.category-list ul li ul{
    position: absolute;
    display: flex;
    width: 88%;
    top: 40px;
    left: 5%;
    height: 90px;
    align-items: center;
    padding: 0px 0px 0 0px;
    flex-flow: wrap;
    border: 3px solid black;
    border-radius: 7px;
    overflow : auto;
}
.category-list ul li ul li{
    position: relative;
    cursor: pointer;
    margin-left: 15px;
    margin-top : 5px;
    margin-bottom : 5px;
    height: 30px;
    padding: 0px 2px 0 2px;
    border-radius: 10px;
    border: 2px solid red;
}
.category-list ul li ul li a::before{
    content: "";
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    left: 0;
    background: pink;
    z-index: -1;
    transition: transform .3s linear;
    transform: scaleX(0);
    transform-origin: center;
}
.category-list ul li ul li:hover a::before{
    transform: scaleX(1);
    transform-origin: center;
    overflow: hidden;
}
.sebu{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(0%);
    width: 600px;
    height: 30px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.sebu.active{
    opacity: 1;
    visibility: visible;
    left: 0;
    width: 100%;
}
.sebu span{
    width: 100%;
    height: 30px;
    background: transparent;
    display: block;
    line-height: 30px;
    margin-left: 10px;
}
.indicator{
    position: absolute;
    width: 30px;
    height: 30px;
    background: white;
    right: 0;
    top: 0;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
    z-index: 9999;
}
.indicator::before{
    content: "";
    position: absolute;
    width: 10px;
    height : 10px;
    border-top : 3px solid black;
    border-right: 3px solid black;
    top: 6.5px;
    right: 7.5px;
    transform: rotate(135deg);
    transition: .3s cubic-bezier(0.19, 1, 0.22, 1);
}
.indicator.rotate::before{
    top: 13px;
    transform: rotate(-45deg);
}
.detail-list-section{

}
.detail-list-container{
	z-index: 10;
	visibility:hidden;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-areas: 
    "header" "content";
	background: #9fbefa;
    opacity: 0;
    transition: linear;
}
.grid-header{
    grid-area: header;
    margin: 0px 0px 5px 0px;
}
.grid-header div{
    width: 40%;
    text-align: center;
    border: 1px solid;
    margin: auto;
    border-radius: 5px;
    font-size: 14px;
}
.grid-category{
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 5px 0px 5px;
}
.grid-category div{
    margin: 3px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    font-size: 14px;
}
/* -------------------------*/
.category-content-container{
	
    margin-left: 10px;
    margin-right: 10px;
}
.content-box{
	cursor : pointer;
	transition : .2s linear;
	animation : aaa .3s linear ;
		text-align : center;
}
 @keyframes aaa{
	0%{
		opacity : 1;
	}
	100%{
		opacity : 1;
	}
	
}
.content-box > a{
	position : absolute;
	width : inherit;
	height : 380px;
}
.content-box a:nth-child(2){
	position : absolute;
	width : 100%;
	height : 100%;
}
.content-image{
	top: -15px;
	position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
	overflow : hidden;
	background: black;
	

}
.content-image img{
    width: 100%;
    height: 100%;
    transform : scale(1);
    opacity : 1;
    transition : .2s linear;
}
.content-image:hover img{
	opacity : 0.8;
	transform : scale(1.2);
	background : black;
}
.content-detail h4{
    margin: 0;
    font-size : 18px;
}
.content-detail div{
    height: 100%;
}
.content-detail div span{
	display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
.content-detail div span:nth-child(1){
	    height: 36px;
	    transition : .3s linear;
}
.content-detail .member-cnt{
    text-align: right;
}
.member-cnt {
	width : 80%;
	transition : .3s linear;
}
/* ------------------------ */
@media(min-width:480px){
    main{
        width: 480px;
        margin: auto;
        transition: all .2s linear;
        
    }
    .pointer{
    	transform: translate(-265%,-250%);
   	}
}
@media(min-width:1100px){
    main{
        width: 1100px;
        margin: auto;
        transition: all .2s linear;
    }
    .pointer{
    	transform: translate(-95%,-250%);
   	}
    .category-content-container{
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
        min-height : 800px;
    }
    .content-box{
        width: 450px;
        margin: auto;
        margin-top : 20px;
        margin-bottom : 20px;
        padding : 10px;
        border : 1px solid;
        border-radius: 10px;
        max-height: 360px;
        border-radius :200px;
        margin-left: 30px;
        box-shadow: 3px 2px 32px 0px rgba(0,0,0,0.75);
        transform : perspective(600px) translate3d(0px, 0px, 0px) rotate(0deg);
    }
    .content-box::before{
    	content : "";
    	width : 100%;
    	height : 100%;
    	position : absolute;
    	top : 0;
    	left : 0;
    	
    }
    .content-box img{
    border-radius: 10px;
    }
    .content-image{
    border-radius: 10px;
    box-shadow: 0px 30px 10px -20px;
    }
    .content-box:hover{
    animation : box 1s linear;
    border-radius : 10px;
    }
    .content-box:hover .content-detail div span:nth-child(1){
	    height: 30px;
	    width:100%
	}
	.content-box:hover{
		text-align: -webkit-auto;
	}
	.content-box:hover .content-detail{
		position : relative;
		top : 15px;
		transition : .3s linear;
	}
	.content-box:hover .member-cnt{
		width:100%;
	}
	.content-box:hover .content-image{
	transition : .3s linear;
		top: 0px;
	}
    @keyframes box {
    0%,50%,100%{
        transform : perspective(600px) translate3d(0px, 0px, 0px) rotate(0deg);
    }
    30%,70%{
        transform : perspective(600px) translate3d(-10px, 5px, 10px) rotate(-1deg);    
    }
    30%,70%{
        transform : perspective(600px) translate3d(10px, 5px, 0px) rotate(1deg);
    }
}
    .calist{
    	font-size : 13px;
    }
}