
#headerSearch {
	width : 200px;
	height : 25px;
}
#headerSearch input {
	width: 100%;
	height: 100%;
	background: url(/resources/images/searchIcon.png) no-repeat 6px 6px gainsboro;
    background-size: 16px 16px;
    border: none;
	border-radius: 4px;
    text-indent: 30px;
    position : relative;
}
#headerSearch input::placeholder {
    text-indent: 30px;
}
#headerMake {
	line-height: 5px;
	background: gainsboro;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 0px 3px;
	height: 30px;
	width : 25px;
	margin-top: 12px;
	margin-left: 10px;

}

#headerMake a {
	font-size: 10px;
	line-height: 12px;
	font-weight: normal;
	display : block;
	margin-top : 4px;
	text-align: center;
}
	.autoBox{
	transform : translateY(-10px);
	background: #d9d9d9;
	width: 100%;
    margin: auto;
    max-width: 1000px;
    height: auto;
    z-index: 10000;
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    	    box-shadow: 2px 2px 10px;
    	        font-size: 15px;
}
.autoBox li{
	text-align : left;
	margin-left : 10px;
	border : 0 0 0 1px solid;
	cursor : pointer;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.autoBox li::before{
    content: "";
    position: absolute;
    left: 0;
    border-bottom: 1px solid;
    width: 100%;
}
.autoBox li:hover, .autoBox li:hover .autoBox li::before{
	transition : .2s linear;
	box-shadow: 3px 2px 20px 0px rgba(0,0,0,0.75);
	background: #d9d9d9;
	transform : perspective(600px) translate3d(-5px,0px,10px);
    border-bottom: 1px solid;
}
.autoBox li span{
	width: 30px;
    height: 30px;
    display: block;
    float: left;
}
.autoBox li span i{
	width: 100%;
    height: 100%;
}
::placeholder {
	text-indent: 5px;
	font-size: 12px;
	color: black;
}

@media ( min-width : 480px) {
	header {
		border-bottom: 1px gray solid;
	}
	#headerSearch {
		width: 350px;
		height: 30px;
	}
	#headerMake {
		margin-top: 8px;
		height: 40px;
		width: 40px;
	}
	#headerMake a {
		font-size: 14px;
		line-height: 16px;
		font-weight: normal;
		display: block;
		margin-top: 6px;
		text-align: center;
	}
	.autoBox {
		transform: translateY(-5px);
		background: #d9d9d9;
		width: 100%;
		margin: auto;
		max-width: 1000px;
		height: auto;
		z-index: 10000;
		position: relative;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		box-shadow: 2px 2px 10px;
		font-size: 15px;
	}
	.autoBox li {
		text-align: left;
		margin-left: 10px;
		border: 0 0 0 1px solid;
		cursor: pointer;
		height: 30px;
		line-height: 30px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.autoBox li::before {
		content: "";
		position: absolute;
		left: 0;
		border-bottom: 1px solid;
		width: 100%;
	}
	.autoBox li:hover, .autoBox li:hover .autoBox li::before {
		transition: .2s linear;
		box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, 0.75);
		background: #d9d9d9;
		transform: perspective(600px) translate3d(-5px, 0px, 10px);
		border-bottom: 1px solid;
	}
}

@media ( min-width : 721px) {
	#headerMake {
		margin-top: 15px;
		box-shadow: 2px 2px 10px;
		background: #ffffff;
	}
	#headerSearch {
		text-align: center;
		width: 100%;
		height: 100%;
	}
	#headerSearch input {
		vertical-align: super;
		width: 100%;
		max-width: 1000px;
		height: 40px;
		background: url(/resources/images/searchIcon.png) no-repeat 9px 9px
			white;
		background-size: 25px 25px;
		text-indent: 40px;
		font-size: 20px;
		margin-top: 15px;
		box-shadow: 2px 2px 10px;
	}
	.autoBox {
		transform: translateY(-30px);
		background: white;
		width: 100%;
		margin: auto;
		max-width: 1000px;
		height: auto;
		z-index: 10000;
		position: relative;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		box-shadow: 2px 2px 10px;
	}
	.autoBox li {
		text-align: left;
		margin-left: 10px;
		border: 0 0 0 1px solid;
		cursor: pointer;
		height: 50px;
		line-height: 50px;
	}
	.autoBox li::before {
		content: "";
		position: absolute;
		left: 0;
		border-bottom: 1px solid;
		width: 100%;
	}
	.autoBox li:hover, .autoBox li:hover .autoBox li::before {
		transition: .2s linear;
		box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, 0.75);
		background: white;
		transform: perspective(600px) translate3d(-5px, 0px, 10px);
		border-bottom: 1px solid;
	}
	#headerSearch input::placeholder {
		text-indent: 40px;
		font-size: 20px;
	}
}
@media ( max-width : 1100px) and (min-width : 722px) {
	#headerSearch {
		text-align: center;
		width: 100%;
		height: 100%;
	}
		#headerSearch input {
		vertical-align: super;
		width: 100%;
		max-width: 1000px;
		height: 40px;
		background: url(/resources/images/searchIcon.png) no-repeat 9px 9px
			white;
		background-size: 25px 25px;
		text-indent: 40px;
		font-size: 20px;
		margin-top: 15px;
		box-shadow: 2px 2px 10px;
	}
}