<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/basic.css" type="text/css" rel="stylesheet" />

    <title>Document</title>
    <style>
        header{
            border-bottom: gray solid 1px;
        }



        .sirenedit img{
            border: 1px solid gray;
            width: 15px;
            height: 15px;
            padding: 5px;
            border-radius: 5px;
        }
        .sirenedit{
            line-height: 3.4;
        }
    </style>
</head>
<body>
    <header>
        <h1 class="logo"><a href="">MOIDA</a></h1>

        <div>
            모임명
        </div>
        <div class="sirenedit">
            <a href="#"><img src="../../../resources/images/siren.png" /></a> 
            <a href="#"><img src="../../../resources/images/edit.png" /></a> 
        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>